.fancytext
{
    color:white;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: black;
}

.image{
    border: 5px solid white;
}